.hero {
  color: var(--color-light);
  background: url("../../assets/images/hero-bg.jpg") center/cover no-repeat;
}

.hero-inner {
  height: 100vh;
  padding-block: 80px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 24px;
}

.hero-title {
  font-weight: 500;
  font-size: 72px;
  letter-spacing: 4.6px;
}

.hero-description {
  font-family: var(--font-family-secondary);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.3px;
}

.nav {
  align-self: flex-end;
}

.nav-list {
  display: flex;
  column-gap: 58px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 18px;
  height: 2px;
  background-color: var(--color-green);
  transition-duration: var(--transition-duration);
}

.nav-link:hover::after {
  width: 100%;
}

.hero-pagination-list {
  display: flex;
  align-items: baseline;
  column-gap: 9px;
}

.hero-pagination-item {
  font-weight: 700;
  font-size: 18px;
  opacity: 0.4;
  transition-duration: var(--transition-duration);
}

.hero-pagination-item:hover {
  opacity: 0.8;
}

.hero-pagination-item.is-current {
  position: relative;
  font-size: 36px;
  letter-spacing: 2px;
  opacity: 1;
  z-index: 1;
}

.hero-pagination-item.is-current::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 10px;
  height: 2px;
  background-color: var(--color-green);
}

.hero-pagination-item.is-current::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: -1;
  width: 40px;
  height: 2px;
  background-color: var(--color-green);
}
