.services {
  background-color: var(--color-light-alt);
  padding-block: 130px;
}

.services-inner {
  display: flex;
  flex-direction: column;
  row-gap: 85px;
}

.services-list {
  display: flex;
  column-gap: 28px;
}

.services-item {
  background-color: var(--color-light);
  position: relative;
  padding-block: 50px 35px;
  padding-inline: 48px;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.services-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--color-green-alt);
  transition-duration: var(--transition-duration);
}

.services-item:hover::after {
  height: 3px;
}

.services-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services-item-title {
  position: relative;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 300;
}

.services-item-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35px;
  height: 2px;
  background-color: currentColor;
}

.services-item-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 20px var(--color-light-gray);
}

.services-item-logo-image {
  opacity: 0.4;
  transition-duration: var(--transition-duration);
}

.services-item:hover .services-item-logo-image {
  opacity: 1;
}

.services-item-description {
  color: var(--color-gray);
}

.services-item-link {
  color: var(--color-dark);
  opacity: 0.5;
}

.services-item:hover .services-item-link {
  opacity: 1;
}
